{% extends 'base.html.twig' %}

{% block title %}Calculatrice{% endblock %}

{% block body %}
 <h2 class="min-h-screen flex flex-col justify-center items-center">Le résultat de l'opération {{operator}} entre les nombres {{num1}} et {{num2}} est de : {{result}}</h2>
{% endblock %}
